[Unit]
Description=Rasa-Core Banglish
After=multi-user.target

[Service]
User=root
Group=daemon
Type=simple
WorkingDirectory=/home/aci-mis-ai/joy-bangla-alapon/

ExecStart=/home/aci-mis-ai/joy-bangla-alapon/venv/bin/python -m rasa run \
    --enable-api \
    --cors '*' \
    --port 6001 \
    --model /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/banglish/models/ \
    --endpoints /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/banglish/endpoints.yml \
    --credentials /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/banglish/credentials.yml

[Install]
WantedBy=multi-user.target
