[Unit]
Description=Rasa-Core Bangla
After=multi-user.target

[Service]
User=root
Group=daemon
Type=simple
WorkingDirectory=/home/aci-mis-ai/joy-bangla-alapon/

ExecStart=/home/aci-mis-ai/joy-bangla-alapon/venv/bin/python -m rasa run \
    --enable-api \
    --cors '*' \
    --port 6002 \
    --model /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/bangla/models/ \
    --endpoints /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/bangla/endpoints.yml \
    --credentials /home/aci-mis-ai/joy-bangla-alapon/chatbot-main/bangla/credentials.yml


[Install]
WantedBy=multi-user.target